* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 50px 100px;
    padding: 20px;
}

h1{
    margin: 25px auto;
    font-size: 25px;
}
ul {
    list-style: none;
}
ul li {
    padding-bottom: 5px;
    font-weight: bold;
}
form {
    width: 600px;
    text-align: center;   
}

legend {
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background:rgba(231, 227, 227, 0.924);
}

.btn {
   
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}

.btn:hover {
    background: black;
    color: white;
    font-weight: bold;
}

/* css et js */


#pause,
#reprendre,
#laps,
#stop {
    display:none;
}

